input {
  margin: 10px;
}
.labelAnim {
  cursor: pointer;
  transition: all 0.2s ease;
}
.labelAnim:hover,
.labelAnim:active {
  transform: scale(1.1);
}
.dropDownFilter {
  text-align: center;
  width: 55vw;
  border: 3px solid gainsboro;
  border-radius: 10px;
  display: none;
  color: #192f60;
  cursor: pointer;
}
.dropDownList {
  padding: 15px;
  width: 55vw;
  color: #192f60;
}
@media (max-width: 1000px) {
  .inputFilter {
    display: none;
  }
  .dropDownFilter {
    display: block;
  }
}
