.mealFilter {
  width: 650px;
  margin: 20px 30px;
  border-radius: 7px;
  padding: 5px;
  box-shadow: 2px 2px 5px gray, -2px -2px 5px gray;
  color: #192f60;
  transition: all 0.5s ease;
}
.img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.restaurantName {
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  color: #192f60;
}
@media (max-width: 800px) {
  .mealFilter {
    width: 500px;
  }
}
@media (max-width: 600px) {
  .img {
    width: 90px;
    height: 90px;
  }
  .restaurantName {
    font-size: 20px;
    font-weight: bold;
  }
  .mealFilter {
    width: 450px;
    font-size: 14px;
    margin: 20px 25px;
  }
}
@media (max-width: 525px) {
  .mealFilter {
    width: 370px;
    font-size: 12px;
    margin: 20px 20px;
  }
  .restaurantName {
    font-size: 17px;
  }
}
@media (max-width: 430px) {
  .img {
    width: 80px;
    height: 80px;
  }
  .mealFilter {
    width: 330px;
    margin: 20px 10px;
  }
}
@media (max-width: 390px) {
  .img {
    width: 75px;
    height: 75px;
  }
  .mealFilter {
    width: 300px;
    margin: 20px 7px;
  }
}
